{% extends "home.html" %}
{% load static %}

{% block main %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Omborxona</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <button type="button" class="btn btn-sm btn-outline-success">Export</button>
                </div>
            </div>
        </div>

        <div class="">
            <form method="POST" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Mahsulotni yangilash</h4>
                        <div class="row mb-3">
                            <input type="hidden" name="product" value="{{ form.product.value }}">
                            <input type="hidden" name="quantity" value="{{ form.quantity.value }}">

                            <div class="col-md-4">
                                <label for="id_product" class="form-label">Mahsulot</label>
                                {{ form.product }}
                            </div>
                            <div class="col-md-4">
                                <label for="id_quantity" class="form-label">Miqdori</label>
                                {{ form.quantity }}
                            </div>
                            <div class="col-md-4">
                                <label for="id_sell_price" class="form-label">Sotish narxi</label>
                                {{ form.sell_price }}
                            </div>
                        </div>
                        <!-- Submit Button -->
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Saqlash</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </main>
{% endblock %}