{% extends "home.html" %}
{% load static %}
{% load humanize %}

{% block main %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Sotib olish</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <button type="button" class="btn btn-sm btn-outline-success">Export</button>
                    <a href="/document/purchase/create" type="button" class="btn btn-sm btn-outline-primary">
                        Yangi qoshish <i class="bi bi-plus-circle-dotted"></i>
                    </a>
                </div>
            </div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
                <li class="breadcrumb-item"><a href="/document/purchase/list">Sotib olishlar ro'yhati</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sotib olish bo'limi</li>
            </ol>
        </nav>

        <div class="">

            <form method="POST" class="needs-validation" novalidate>
                {% csrf_token %}
                <label>
                    <input type="text" name="id" hidden value="{{ doc_purchase.id }}">
                </label>
                <!-- DocPurchase Form -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Umumiy malumot</h4>
                        <div class="row mb-3">
                            {% if doc_purchase %}
                                {% if doc_purchase.status == "completed" %}
                                    <div class="col-md-4 mb-2">
                                        <label for="id_supplier" class="form-label">Yetkazib beruvchi</label>
                                        <input type="text" id="id_supplier" name="supplier" class="form-control"
                                               disabled
                                               value="{{ doc_purchase.supplier }}">
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <label for="id_paid_amount" class="form-label">To'langan qismi</label>
                                        <input type="text" id="id_paid_amount" name="paid_amount" class="form-control"
                                               disabled
                                               value="{{ doc_purchase.paid_amount|floatformat:2|intcomma }}">
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <label for="id_status" class="form-label">Holati</label>
                                        <input type="text" id="id_status" class="form-control"
                                               disabled
                                               value="{{ doc_purchase.get_status }}">
                                    </div>
                                {% else %}
                                    <div class="col-md-4 mb-2">
                                        <label for="id_supplier" class="form-label">Yetkazib beruvchi</label>
                                        {{ doc_purchase_form.supplier }}
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <label for="id_paid_amount" class="form-label">To'langan qismi</label>
                                        {{ doc_purchase_form.paid_amount }}
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <label for="id_status" class="form-label">Holati</label>
                                        {{ doc_purchase_form.status }}
                                    </div>
                                {% endif %}
                                <div class="col-md-4 mb-2">
                                    <label for="id_total_purchase_sum" class="form-label">Umumiy narx</label>
                                    <input type="text" value="{{ doc_purchase.total_purchase_sum|floatformat:2|intcomma }}"
                                           name="total_purchase_sum"
                                           class="form-control" id="id_total_purchase_sum" disabled>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <label for="id_created_by" class="form-label">Qabul qiluvchi</label>
                                    <input type="text" value="{{ doc_purchase.created_by }}" name="created_by"
                                           class="form-control" id="id_created_by" disabled>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <label for="id_added_at" class="form-label">Sotib olingan vaqt</label>
                                    <input type="text" value="{{ doc_purchase.added_at }}" name="added_at"
                                           class="form-control" id="id_added_at" disabled>
                                </div>
                                <div class="col-md-4">
                                    <label for="id_updated_at" class="form-label">Yangilangan vaqt</label>
                                    <input type="text" value="{{ doc_purchase.updated_at }}" name="updated_at"
                                           class="form-control" id="id_updated_at" disabled>
                                </div>
                                <div class="col-md-4">
                                    <label for="id_modified_by" class="form-label">Updated user</label>
                                    <input type="text" value="{{ doc_purchase.modified_by }}" name="modified_by"
                                           class="form-control" id="id_modified_by" disabled>
                                </div>
                            {% else %}
                                <div class="col">
                                    <label for="id_supplier" class="form-label">Yetkazib beruvchi</label>
                                    {{ doc_purchase_form.supplier }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- DocPurchaseItem Formset -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title">Sotib olinga maxsulotlar</h4>
                            {% if doc_purchase.status != "completed" %}
                                <button type="button" id="add-more" class="btn btn-warning"><i
                                        class="bi bi-plus-circle-dotted"></i></button>
                            {% endif %}
                        </div>

                        {{ formset.management_form }}
                        <div id="formset-container">
                            <div class="row" id="formset">
                                {% if status == "update" %}
                                    {% for form in formset %}
                                        {{ form.errors }}
                                        {{ form.id }}
                                        {% if doc_purchase.status == "completed" %}
                                            <div class="col-md-4 mb-3">
                                                <label class="form-label" for="id_product">Mahsulot</label>
                                                <input type="text" id="id_product" name="product" class="form-control"
                                                       value="{{ form.instance.product }}" disabled>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label class="form-label" for="id_quantity">Miqdor</label>
                                                <input type="text" id="id_quantity" name="quantity" class="form-control"
                                                       value="{{ form.instance.quantity }}" disabled>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label class="form-label" for="id_purchase_price">Narx</label>
                                                <input type="text" id="id_purchase_price" name="purchase_price"
                                                       class="form-control"
                                                       value="{{ form.instance.purchase_price|floatformat:2|intcomma }}" disabled>
                                            </div>
                                        {% else %}
                                            <div class="col-md-4 mb-3">
                                                <label class="form-label">Mahsulot</label>
                                                {{ form.product }}
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label class="form-label">Miqdor</label>
                                                {{ form.quantity }}
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <label class="form-label">Narx</label>
                                                {{ form.purchase_price }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Submit Button -->
                <div class="d-flex justify-content-end">
                    {% if doc_purchase.status == "completed" %}
                        <a href="/document/purchase/list" class="btn btn-primary">Saqlash</a>
                    {% else %}
                        <button type="submit" class="btn btn-primary">Saqlash</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Backenddan olingan total_form_count ni boshlang'ich qiymat sifatida olamiz
            let formIndex = {{ total_form_count|default:0 }};
            const totalFormsField = $('#id_form-TOTAL_FORMS');

            function fetchProductOptions(categoryId) {
                return $.ajax({
                    url: `http://127.0.0.1:8000/api/products/list/?category=${categoryId}`,
                    method: 'GET',
                    dataType: 'json'
                });
            }
            
            function fetchCategoryOptions() {
                return $.ajax({
                    url: 'http://127.0.0.1:8000/api/products/category/list/',
                    method: 'GET',
                    dataType: 'json'
                });
            }


            $('#add-more').click(async function () {
                let categoryOptions = '';
                await fetchCategoryOptions().then(data => {
                    data.forEach(item => {
                        categoryOptions += `<option value="${item.id}">${item.name}</option>`;
                    });
                }).catch(() => {
                    alert('Failed to load categories');
                });
                $('#formset').append(
                    `
                    <div class="col-md-2 mb-3">
                        <label class="form-label">Kategoriya</label>
                        <select name="form-${formIndex}-category" class="form-control category-select">
                            <option value="">-------------------</option>
                            ${categoryOptions}
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Mahsulot</label>
                        <select name="form-${formIndex}-product" class="form-control product-select" disabled>
                            <option value="">-------------------</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="form-label">Miqdor</label>
                        <input type="text" name="form-${formIndex}-quantity" class="form-control" value="0.00">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="form-label">Narx</label>
                        <input type="text" name="form-${formIndex}-purchase_price" class="form-control" value="0.00">
                    </div>
                    <div class="col-md-1">
                        <label class="form-label">O'chirish</label>
                        <div class="form-check d-block">
                            <input type="checkbox" name="form-${formIndex}-DELETE" class="form-check-input">
                        </div>
                    </div>
                `
                );

                // Formani qo'shgandan keyin formIndex va totalFormsField qiymatlarini yangilaymiz
                formIndex++;
                totalFormsField.val(formIndex);
            });

            // Kategoriya bo'yicha mahsulotlarni yuklash
            $(document).on('change', '.category-select', function () {
                const categorySelect = $(this);
                const productSelect = categorySelect.closest('.col-md-2').next().find('.product-select');
                const selectedCategory = categorySelect.val();

                if (selectedCategory) {
                    productSelect.prop('disabled', false);
                    fetchProductOptions(selectedCategory).then(data => {
                        let options = '<option value="">-------------------</option>';
                        data.forEach(product => {
                            options += `<option value="${product.id}">${product.name}</option>`;
                        });
                        productSelect.html(options);
                    }).catch(() => {
                        alert('Failed to load products');
                    });
                } else {
                    productSelect.prop('disabled', true);
                }
            });
        });
    </script>

{% endblock %}