{% extends "home.html" %}
{% load static %}
{% load humanize %}

{% block main %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Savdo</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <button type="button" class="btn btn-sm btn-outline-success">Export</button>
                    <a href="/document/sales/create" type="button" class="btn btn-sm btn-outline-primary">
                        Yangi qoshish <i class="bi bi-plus-circle-dotted"></i>
                    </a>
                </div>
            </div>
        </div>

        <h2>Sotuvlar</h2>
        <div class="filter">
            <form method="get" class="mb-4">
                <div class="row">
                    <!-- Search field -->
                    <div class="col-md-10">
                        <label for="id_search" class="form-label">Qidirish</label>
                        {{ filter.form.waybill_number }}
                    </div>
                    <!-- Filter Button to open modal -->
                    <div class="col-md-2 align-self-end">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#filterModal">
                                Filter
                            </button>
                            <a href="/document/sales/list" class="btn btn-outline-primary">Tozalash <i
                                    class="bi bi-arrow-clockwise"></i></a>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Modal Structure for Filters -->
            <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="filterModalLabel">Filtrlarni qo'llash</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="get">
                                <div class="row">
                                    <!-- Category Filter -->
                                    <div class="col-md-6 mb-3">
                                        <label for="id_customer"
                                               class="form-label">{{ filter.form.customer.label }}</label>
                                        {{ filter.form.customer }}
                                    </div>
                                    <!-- Min Quantity Filter -->
                                    <div class="col-md-6 mb-3">
                                        <label for="id_payment_method"
                                               class="form-label">{{ filter.form.payment_method.label }}</label>
                                        {{ filter.form.payment_method }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="id_payment_status"
                                               class="form-label">{{ filter.form.payment_status.label }}</label>
                                        {{ filter.form.payment_status }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="id_status"
                                               class="form-label">{{ filter.form.status.label }}</label>
                                        {{ filter.form.status }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="id_added_at__gte"
                                               class="form-label">{{ filter.form.added_at__gte.label }}</label>
                                        {{ filter.form.added_at__gte }}
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="id_added_at__lte"
                                               class="form-label">{{ filter.form.added_at__lte.label }}</label>
                                        {{ filter.form.added_at__lte }}
                                    </div>

                                </div>
                                <!-- Filter Submit Button in Modal -->
                                <button type="submit" class="btn btn-primary">Filtrlarni qo'llash</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sotuvchi</th>
                    <th scope="col">Haridor</th>
                    <th scope="col">Holati</th>
                    <th scope="col">Tolov uslubi</th>
                    <th scope="col">Tolov holati</th>
                    <th scope="col">Umumiy miqdor</th>
                    <th scope="col">Umumiy narx</th>
                    <th scope="col">Qarz</th>
                    <th scope="col">Sana va vaqt</th>
                    <th scope="col">Yuk hati</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>
                            <a class="text-decoration-none" href="/document/sales/update/{{ object.id }}">
                                {{ object.waybill_number }}
                            </a>
                        </td>
                        <td>{{ object.created_by }}</td>
                        <td>{{ object.customer.get_full_name }}</td>
                        <td>{{ object.get_status }}</td>
                        <td>{{ object.get_payment_method }}</td>
                        <td>{{ object.get_payment_status }}</td>
                        <td>{{ object.get_all_total_quantity }}</td>
                        <td>{{ object.total_sum|floatformat:2|intcomma }}</td>
                        <td>{{ object.remaining_balance|floatformat:2|intcomma }}</td>
                        <td>{{ object.added_at }}</td>
                        <td>
                            {% if object.status == "completed" %}
                                <a href="#" class="download-waybill" data-order-id="{{ object.id }}">
                                    <span class="badge bg-primary">Yuklab olish</span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "widgets/pagination.html" %}
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.download-waybill').on('click', function (e) {
                e.preventDefault();

                const orderId = $(this).data('order-id');
                console.log(orderId)

                // API yo'liga GET so'rov yuborish
                $.ajax({
                    url: `http://127.0.0.1:8000/api/sales/get-waybill/${orderId}`,
                    method: 'GET',
                    success: function (response) {
                        const waybillPath = `http://127.0.0.1:8000${response.waybill_path}`;

                        if (waybillPath) {
                            // Faylni yuklab olish uchun yangi oyna ochish
                            window.open(waybillPath, '_blank');
                        } else {
                            alert("Hujjat mavjud emas yoki yuklab bo'lmaydi.");
                        }
                    },
                    error: function () {
                        alert("Yuk hatini olishda xatolik yuz berdi.");
                    }
                });
            });
        });
    </script>
{% endblock %}